@import '~react-toastify/dist/ReactToastify.css';

body {
  margin: 0;
  font-family: 'Roboto';
  background-color: #e0e0e0;
}

.grid-auth {
  background-color: #fff;
  padding: 20px 5px;
  border-bottom: 5px solid #aeaeae;
}
